TELEGRAM_BOT_TOKEN=8607828988:AAG48dyOY0vU65RcVTQrdEn-CyWh8o1jhZw
TELEGRAM_CHAT_ID=8607828988
BYBIT_API_KEY=46HAmTYHfoZm7UW7Qy
BYBIT_API_SECRET=0Mnv3c9paKaxflW3X44qOUKgtKmEurmSpLYP
DATABASE_URL=postgresql://user:pass@localhost:5432/bybit_signals
NODE_ENV=production
